<div id="aboutus"></div>

<div class="row p-4">
    <div class="col-sm-12 col-md-6 mb-2 d-flex justify-content-center align-items-center">
        <div class="pt-4 text-center" data-aos="flip-right">
            <h2 class="headColor"><b>MEAN Full Stack</b></h2>
            <h5>Build Your MEAN Full Stack Career with Our 100% Job Assurance Courses</h5>
            <h6><i class="pi pi-check-circle text-success"></i> For fresh graduates/Early career professionals</h6>
            <p-button label="Apply Now" styleClass="p-button-help" (click)="contactModal = true"></p-button>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4 image">
        <img src="../../../assets/images/mean-stack.png" class="w-100 p-5" data-aos="fade-left">
    </div>
</div>

<div class="container mb-4">
    <p-card>
        <div class="row" style="text-align: justify;" data-aos="fade-up">
           <div class="col-12 mb-4">
                <h5>About Course</h5>
                <p>Build fully functional web apps using MEAN stack. Acquire comprehensive skills in MongoDB, Express.js, Angular, 
                    and Node.js to design, develop, and deploy real-world high-performance web applications.</p>
                <h6>What you'll learn</h6>
                <ul>
                    <li>Master Angular for frontend development; explore HTML, CSS, and JavaScript essentials for dynamic and interactive 
                        web applications.</li>
                    <li>Build RESTful APIs using Node.js & Express; learn MongoDB for database interaction, advanced error 
                        handling, security, and testing.</li>
                    <li>Integrate Angular, Node.js, and MongoDB to create a full-fledged MEAN stack application, ensuring modularity 
                        and maintainability. </li>
                    <li>From setup to deployment, develop a full-stack application; utilize the MEAN stack, ensure quality through 
                        testing, and deploy to production. </li>
                </ul>
                <h6>What is the Learning MEAN Stack by Building Real world Application Specialization all about?</h6>
                <p>The Learning MEAN Stack Specialization is a focused training program that equips learners with the skills in 
                    web development using MongoDB, Express.js, Angular, and Node.js. It consists of three courses covering frontend 
                    development, building RESTful APIs, and creating a complete web application. By the end, participants will have 
                    the skills to build scalable and robust web applications. </p>
           </div>
           <div class="col-12 mb-4">
            <h5>Outcomes</h5>
            <ul>
                <li>
                    Master a subject or tool with hands-on projects.
                </li>
                <li>
                    Develop a deep understanding of key concepts.
                </li>
                <li>
                    Learn in-demand skills from industry experts.
                </li>
            </ul>
       </div>
        </div>
    </p-card>
</div>


<p-dialog header="Contact Us" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>