#aboutus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.4;
}

.image {
    display: inline-block;
    overflow: hidden;
    /* clip the excess when child gets bigger than parent */
}

.image img {
    display: block;
    transition: transform .4s;
    /* smoother zoom */
}

.image:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
    cursor: pointer;
}