<footer class="footer">
    <div class="row text-center pt-3 midFooter">
        <div class="col-sm-12 col-md-4 mb-2">
            
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
            <a href="https://twitter.com/ChnTechnologies" target="_blank" class="footerIcon p-2" 
            pTooltip="Twitter" tooltipPosition="bottom">
              <i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/people/CHN-Technologies/100068692698660/" target="_blank" class="footerIcon p-2"
            pTooltip="Facebook" tooltipPosition="bottom">
                <i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/chntechnologies/" target="_blank" class="footerIcon p-2"
            pTooltip="Instagram" tooltipPosition="bottom">
                <i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/chn-technologies-977b7220a/" target="_blank" class="footerIcon p-2"
            pTooltip="LinkedIn" tooltipPosition="bottom">
              <i class="fa fa-linkedin"></i></a>
            <!-- <div>CHN Technologies Private Limited
                No. 28, Fourth Main Road, CIT Nagar, Chennai. 600 035. </div>
            <div>Phone: +91 70 10 20 30 31, +91 044 42 85 41 98 </div>
            <div>Email: info@chnindia.com</div> -->
        </div>
        <div class="col-sm-12 col-md-4 mb-2">
        </div>
    </div>
    <div class="text-center pb-3">
        <span class="copyRight">© Copyright Ilan Infotech. All Rights Reserved Designed by Ilan Infotech</span>
    </div>
</footer>
