
<div class="row">
    <div class="col-sm-12 col-md-6 mb-2 d-flex justify-content-center align-items-center">
        <div class="pt-4 text-center" data-aos="fade-right">
            <h4><b>Get trained by Industry Experts via</b></h4>
            <h2 class="headColor"><b>Live Online or Classroom Training</b></h2>
            <h4><b>with 100% Placement Support</b></h4>
            <p-button label="Enquire Now" styleClass="p-button-help" (click)="showContactForm()"></p-button>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../../assets/images/homeImage-1.png" class="w-100" data-aos="fade-left">
    </div>
</div>

<div id="aboutus"></div>
<div class="container visionRow">
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-4" data-aos="zoom-in-up">
            <p-card styleClass="p-card-shadow h-100">
                <ng-template pTemplate="title">
                    <div class="card-title textFont">
                        <h4 class="headColor"><b>About Us</b></h4>
                    </div>
                </ng-template>
                <p class="textFont">Welcome to ilan infotech where innovation meets excellence! We are a dynamic and forward-thinking software development 
                    company that specializes in creating cutting-edge web solutions. With a passion for technology and a commitment to quality, 
                    we bring your ideas to life through robust and scalable software applications.</p>
            </p-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4" data-aos="zoom-in-up">
            <p-card styleClass="p-card-shadow h-100">
                <ng-template pTemplate="title">
                    <div class="card-title textFont">
                        <h4 class="headColor"><b>Our Vision</b></h4>
                    </div>
                </ng-template>
                <p class="textFont">Our vision is to emerge as a leading global academy for the sake of students to ensure success in their academic 
                    careers and assure abundant International placements for our students through our honest and diligent professional training and 
                    guidance.</p>
            </p-card>
        </div>
        <div class="col-sm-12 col-md-4 mb-4" data-aos="zoom-in-up">
            <p-card styleClass="p-card-shadow h-100">
                <ng-template pTemplate="title">
                    <div class="card-title textFont">
                        <h4 class="headColor"><b>Our Mission</b></h4>
                    </div>
                </ng-template>
                <p class="textFont">At ilan infotech, our mission is to empower businesses and individuals through transformative technology solutions. 
                    Whether you're seeking top-notch web development, comprehensive software training, or strategic consulting services, 
                    we are dedicated to delivering results that exceed expectations.</p>
            </p-card>
        </div>
    </div>

    <div class="serviceBack">
        <div class="p-4 row">
            <h4 class="text-center fw-bold headColor" data-aos="flip-right">
                What Sets Us Apart
            </h4>

            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                    <img src="../../../assets/icons/experience.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Expertise</h5>
                    <p class="about">Our team comprises skilled professionals with extensive experience in software development, training, 
                        and consulting. We stay ahead of industry trends to provide you with the latest and most effective solutions.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                    <img src="../../../assets/icons/collaborative.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Collaborative Approach</h5>
                    <p class="about">We believe in collaboration and open communication. Your success is our success, and we work closely 
                        with you to understand your unique needs and goals.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                    <img src="../../../assets/icons/innovation.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Innovation</h5>
                    <p class="about">In the fast-paced world of technology, innovation is key. We embrace creativity and innovation to 
                        ensure your software solutions are not only functional but also future-proof.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 serviceBack">
        <div class="p-4 row">
            <h4 class="text-center fw-bold headColor" data-aos="flip-right">
                <i class="fa fa-handshake-o"></i> Services We Offer
            </h4>

            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                        <img src="../../../assets/images/app-development.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Web Development</h5>
                    <p class="about">Our web development services cover everything from responsive websites to complex web applications. We leverage 
                        the latest technologies to create seamless, user-friendly, and visually appealing online experiences.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                        <img src="../../../assets/icons/softdeveloper.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Software Training</h5>
                    <p class="about">Empower your team with our comprehensive software training programs. From beginner to advanced levels, we offer 
                        tailored courses to enhance your skills and stay ahead in a rapidly evolving tech landscape.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-2" data-aos="flip-left">
                <div class="row justify-content-center">
                        <img src="../../../assets/images/staff.png" class="faIcon">
                </div>
                <div class="row mt-4">
                    <h5 class="text-center">Software Consulting</h5>
                    <p class="about">Navigate the complexities of software development with our expert consulting services. Whether you need guidance on 
                        project management, technology stack selection, or overall strategy, our consultants are here to help.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div id="alliances">
    <div class="container visionRow">
        <h4 class="text-center fw-bold">OUR ALLIANCES AND GLOBAL PARTNERS</h4>
        <div class="row mt-4 text-center">
            <div class="col-sm-6 col-md-3 col-lg-2 mb-2" *ngFor="let item of alliances" data-aos="fade-right"
            data-aos-easing="ease-in-sine">
                <img [src]="item.url" class="allainceImg cursor-pointer" [pTooltip]="item.name" tooltipPosition="bottom">
            </div>
        </div>
    </div>
</div>

<div class="container visionRow mb-4" data-aos="zoom-in" id="facts">
    <h4 class="text-center fw-bold">FACTS</h4>
    <div class="row mt-3 text-center" *ngIf="showCounter">
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=50 [duration]=1000></span>+</h2>
            <p>Products</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=15 [duration]=1000></span>+</h2>
            <p>Industries</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=20 [duration]=1000></span>+</h2>
            <p>States</p>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 mb-2">
            <h2 class="fw-bold"><span [countUp]=100 [duration]=1000></span>+</h2>
            <p>Happy Clients</p>
        </div>
    </div>
</div>

<div class="serviceBack">
    <div class="container p-4">
        <h4 class="text-center fw-bold">OUR CLIENTS</h4>
        <p-carousel [value]="clients" styleClass="custom-carousel mt-4" [numVisible]="6" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content text-center">
                        <img [src]="product.url" class="allainceImg cursor-pointer">
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div> -->

<div id="contactus" class="card">
    <div class="container visionRow" data-aos="flip-left" data-aos-easing="ease-out-cubic">
        <div class="row mt-4">
            <h4 class="text-center fw-bold headColor">Contact Us</h4>
            <h6 class="text-center">Contact us today to discuss your project, training needs, or consulting requirements. Let's embark on a journey of innovation 
                and success together!</h6>
            <h6 class="text-center fw-bold">Chennai | Bangalore | Kovai | Madurai | Theni</h6>
            <h6 class="text-center text-primary">9025250943 / 9108440706 / 04546-262755</h6>
            <!-- <div class="col-sm-12 col-md-4 my-2 text-center">
                <p>
                    <img src="../../../assets/icons/location.png" class="contactIcon">
                </p>
                <h6 class="fw-bold">ADDRESS</h6>
                <p>No. 28, Fourth Main Road, CIT Nagar, Chennai. 600 035.</p>
            </div>
            <div class="col-sm-12 col-md-4 my-2 text-center">
                <p>
                    <img src="../../../assets/icons/phone.png" class="contactIcon">
                </p>
                <h6 class="fw-bold">CONTACT NUMBER</h6>
                <p>+91 7010203031<br>
                    +91 044 42854198</p>
            </div>
            <div class="col-sm-12 col-md-4 my-2 text-center">
                <p>
                    <img src="../../../assets/icons/letter.png" class="contactIcon">
                </p>
                <h6 class="fw-bold">EMAIL</h6>
                <p>info@chnindia.com<br>
                sales@chnindia.com</p>
            </div> -->
        </div>
        <br>
        <p-card>
            <form [formGroup]="contactForm">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <label class="mandatory">First Name</label>
                        <input type="text" pInputText formControlName="firstname" placeholder="Enter Your First Name"
                        class="form-control">
                        <p-message severity="error" text="First Name is required"
                            *ngIf="contactForm.controls.firstname.errors?.required && (submitted || contactForm.controls.firstname.dirty || contactForm.controls.firstname.touched)"></p-message>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <label>Last Name</label>
                        <input type="text" pInputText formControlName="lastname" placeholder="Enter Your Last Name"
                        class="form-control">
                        <p-message severity="error" text="Last Name is required"
                            *ngIf="contactForm.controls.lastname.errors?.required && (submitted || contactForm.controls.lastname.dirty || contactForm.controls.lastname.touched)"></p-message>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <label class="mandatory">Mobile Number</label>
                        <input type="text" pInputText pKeyFilter="int" formControlName="mobile" placeholder="Enter Your Mobile Number"
                        class="form-control" maxlength="10">
                        <p-message severity="error" text="Mobile Number is required"
                            *ngIf="contactForm.controls.mobile.errors?.required && (submitted || contactForm.controls.mobile.dirty || contactForm.controls.mobile.touched)"></p-message>
                        <p-message severity="error" text="Enter Valid Mobile Number"
                            *ngIf="contactForm.controls.mobile.errors?.pattern && (submitted || contactForm.controls.mobile.dirty || contactForm.controls.mobile.touched)"></p-message>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <label class="mandatory">Email</label>
                        <input type="text" pInputText formControlName="email" placeholder="Enter Your Email"
                        class="form-control">
                        <p-message severity="error" text="Email is required"
                            *ngIf="contactForm.controls.email.errors?.required && (submitted || contactForm.controls.email.dirty || contactForm.controls.email.touched)"></p-message>
                        <p-message severity="error" text="Enter Valid Email"
                            *ngIf="contactForm.controls.email.errors?.pattern && (submitted || contactForm.controls.email.dirty || contactForm.controls.email.touched)"></p-message>
                    </div>
                    <div class="col-sm-12 mb-2">
                        <label class="mandatory">Address</label>
                        <textarea rows="5" pInputTextarea class="form-control" formControlName="address"
                        placeholder="Enter Your Address"></textarea>
                        <p-message severity="error" text="Address is required"
                            *ngIf="contactForm.controls.address.errors?.required && (submitted || contactForm.controls.address.dirty || contactForm.controls.address.touched)"></p-message>
                    </div>
                    <div class="col-12 mt-2 text-center">
                        <p-button label="Submit" styleClass="p-button-sm p-button-success"
                        (click)="submitContactForm()"></p-button>
                    </div>
                </div>
            </form>
        </p-card>
        <br><br>
    </div>
</div>

<p-dialog header="Contact Us" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>