<form [formGroup]="contactForm">
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-2">
            <label class="mandatory">First Name</label>
            <input type="text" pInputText formControlName="firstname" placeholder="Enter Your First Name"
            class="form-control">
            <p-message severity="error" text="First Name is required"
                *ngIf="contactForm.controls.firstname.errors?.required && (submitted || contactForm.controls.firstname.dirty || contactForm.controls.firstname.touched)"></p-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
            <label>Last Name</label>
            <input type="text" pInputText formControlName="lastname" placeholder="Enter Your Last Name"
            class="form-control">
            <p-message severity="error" text="Last Name is required"
                *ngIf="contactForm.controls.lastname.errors?.required && (submitted || contactForm.controls.lastname.dirty || contactForm.controls.lastname.touched)"></p-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
            <label class="mandatory">Mobile Number</label>
            <input type="text" pInputText pKeyFilter="int" formControlName="mobile" placeholder="Enter Your Mobile Number"
            class="form-control" maxlength="10">
            <p-message severity="error" text="Mobile Number is required"
                *ngIf="contactForm.controls.mobile.errors?.required && (submitted || contactForm.controls.mobile.dirty || contactForm.controls.mobile.touched)"></p-message>
            <p-message severity="error" text="Enter Valid Mobile Number"
                *ngIf="contactForm.controls.mobile.errors?.pattern && (submitted || contactForm.controls.mobile.dirty || contactForm.controls.mobile.touched)"></p-message>
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
            <label class="mandatory">Email</label>
            <input type="text" pInputText formControlName="email" placeholder="Enter Your Email"
            class="form-control">
            <p-message severity="error" text="Email is required"
                *ngIf="contactForm.controls.email.errors?.required && (submitted || contactForm.controls.email.dirty || contactForm.controls.email.touched)"></p-message>
            <p-message severity="error" text="Enter Valid Email"
                *ngIf="contactForm.controls.email.errors?.pattern && (submitted || contactForm.controls.email.dirty || contactForm.controls.email.touched)"></p-message>
        </div>
        <div class="col-sm-12 mb-2">
            <label class="mandatory">Address</label>
            <textarea rows="5" pInputTextarea class="form-control" formControlName="address"
            placeholder="Enter Your Address"></textarea>
            <p-message severity="error" text="Address is required"
                *ngIf="contactForm.controls.address.errors?.required && (submitted || contactForm.controls.address.dirty || contactForm.controls.address.touched)"></p-message>
        </div>
        <div class="col-12 mt-2 text-center">
            <p-button label="Submit" styleClass="p-button-sm p-button-success"
            (click)="submitContactForm()"></p-button>
        </div>
    </div>
</form>