<div id="aboutus"></div>

<div class="row p-4">
    <div class="col-sm-12 col-md-6 mb-2 d-flex justify-content-center align-items-center">
        <div class="pt-4 text-center" data-aos="flip-right">
            <h2 class="headColor"><b>Python Full Stack</b></h2>
            <h5>Build Your Python Full Stack Career with Our 100% Job Assurance Courses</h5>
            <h6><i class="pi pi-check-circle text-success"></i> For fresh graduates/Early career professionals</h6>
            <p-button label="Apply Now" styleClass="p-button-help" (click)="contactModal = true"></p-button>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-4 image">
        <img src="../../../assets/images/python-fullstack.jpg" class="w-100" data-aos="fade-left">
    </div>
</div>

<div class="container mb-4">
    <p-card>
        <div class="row" style="text-align: justify;" data-aos="fade-up">
           <div class="col-12 mb-4">
                <h5>About Course</h5>
                <p>A Python full stack developer course is a comprehensive training program designed to teach individuals the 
                    skills required to develop full stack web applications using Python. This course covers a wide range of topics 
                    including front-end development, back-end development, databases, and deployment.</p>
                <h6>What is Python</h6>
                <p>Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability 
                    with the use of significant indentation. Python is dynamically typed and garbage-collected. It supports 
                    multiple programming paradigms, including structured, object-oriented and functional programming.</p>
                <h6>Overview</h6>
                <p>The curriculum is designed to provide hands-on experience through projects and assignments and prepares students 
                    for a career as a full stack developer. The course can be taken online or in a classroom setting and is ideal 
                    for individuals with a background in programming or those who want to learn the full stack development process. 
                    The goal of the course is to equip individuals with the skills and knowledge needed to build complete web 
                    applications from scratch, connecting user interfaces with databases and deploying the application to the web.</p>
           </div>
           <div class="col-12 mb-4">
            <h5>Outcomes</h5>
            <ul>
                <li>
                    We provide the best Python training from industry experts with years of expertise.
                </li>
                <li>
                    Our real-world projects, which you will work on during the Python course, will ensure that you become an 
                    expert Python programmer.
                </li>
                <li>
                    As a result, the teaching techniques, tools, and subjects we choose for this Python Certification Course are 
                    centered on the present competitive employment market.
                </li>
                <li>We conduct mock tests that will be useful for your Python Interview Preparation.</li>
            </ul>
       </div>
        </div>
    </p-card>
</div>


<p-dialog header="Contact Us" [(visible)]="contactModal" [modal]="true" [style]="{width: '70vw'}" [draggable]="false"
    [resizable]="false" appendTo="body">
    <div class="pt-3">
        <app-contact-form *ngIf="contactModal"></app-contact-form>
    </div>
</p-dialog>